.section{
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;
}

.section__buttons{
    display: grid;
    grid-template-columns: 1fr auto auto ;
    grid-gap: 20px;
    border-bottom: 1px solid #ddd;
}

@media(max-width: 767px){
    .section__buttons{
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }
}

.section__header{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-weight: bold;
    margin: 0;
}

.section__body{
    padding: 20px;
}

